* {
  vertical-align: baseline;
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #080705;
  --color-gray: #40434e;
  --color-maroon: #702632;
  --color-sienna: #4c1a22;
  --color-wine: #912f40;
  --color-white: #fffffa;
}

body {
  background-color: #40434e;
}

/*  CALCULATOR STYLES */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.calc-container {
  padding: 90px 10px 40px;
  border: 2px solid rgba(255, 255, 255, 0.575);
  border-top: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(117, 116, 100);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
  position: relative;
  transition: 0.2s ease-in;
}

.calc--screen {
  height: 120px;
  padding: 10px;
  text-align: right;
  background-color: black;
  width: 400px;
  overflow-x: auto;
}

.screen--display {
  font-size: 40px;
  color: rgb(219, 0, 0);
  font-family: 'Share Tech Mono', Arial, Helvetica, monospace;
}

.calc--buttons {
  display: grid;
  background-color: wheat;
  width: 400px;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr [col-start]);
  gap: 15px;
  color: var(--color-white);
  max-width: 600px;
}

.btn {
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  font-size: 21px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px 1px;
  background-color: rgb(117, 116, 100);
  border: 2px solid rgba(255, 255, 255, 0.75);
}

.btn--num {
  background-color: rgb(0, 0, 80);
  color: rgba(255, 255, 255, 0.9);
}

.btn--clear {
  background-color: rgb(223, 145, 0);
}

.btn--operate,
.btn--result {
  background-color: rgb(50, 146, 146);
}

.btn:active {
  transform: translateY(2px);
}

.btn--operate.btn-active {
  background-color: rgb(13, 112, 112);
  color: white
  box-shadow: none;
}

.btn--0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*  THEME */

.theme {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: var(--color-white);
  opacity: 0.8;
}

/*  STYLE SELECTION BUTTONS */

.styles-container {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  gap: 30px;
}

.style {
  background-color: var(--color-gray);
  border: 2px solid var(--color-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.style-active {
  background-color: rgb(117, 116, 100);
  transform: scale(1.2);
}

/*  FOOTER STYLES */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 20px;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer img {
  height: 30px;
  width: auto;
  /* margin-right: 15px; */
}
