* {
  vertical-align: baseline;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #38618c;
  --color-2: #ff5964;
  --color-3: #ffe74c;
  --color-31: #fff08e;
  --color-4: #fff1d0;
  --color-5: #35a7ff;
  --color-6: #231123;
  --color-7: #303036;
}

body {
  background-color: var(--color-7);
}

/*  CALCULATOR STYLES */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.calc-container {
  padding: 25px;
  border: 2px solid rgb(255, 255, 255);
  border-top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
  position: relative;
  width: 450px;
}

.calc--screen {
  height: 140px;
  border-radius: 5px;
  padding: 10px;
  text-align: right;
  background-color: black;
  color: white;
  overflow-x: auto;
  border: 2px solid black;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.5) inset;
}

.screen--display {
  font-size: 35px;
}

.screen--display {
  color: var(--color-gray);
}

.calc--buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr [col-start]);
  gap: 2px;
  color: var(--color-7);
  max-width: 600px;
}

.btn {
  padding: 25px;
  background-color: orange;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

.btn--operate,
.btn--result {
  background-color: var(--color-5);
  transition: 0.1s ease-in-out;
}

.btn--num:active,
.btn--once:active {
  background-color: rgb(255, 177, 32);
}

.btn--operate.btn-active {
  color: var(--color-4);
  background-color: #0078d3;
}

.btn--0 {
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom-left-radius: 5px;
}

.btn--result {
  border-bottom-right-radius: 5px;
}

/*  THEME */

.theme {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: var(--color-4);
  opacity: 0.8;
}

/*  STYLE SELECTION BUTTONS */

.styles-container {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  gap: 30px;
}

.style {
  background-color: var(--color-6);
  border: 2px solid var(--color-4);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.style-active {
  background-color: orange;
  transform: scale(1.2);
}

/*  FOOTER STYLES */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 20px;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer img {
  height: 30px;
  width: auto;
  /* margin-right: 15px; */
}
