* {
  vertical-align: baseline;
  font-family: 'Space Mono', Arial, Helvetica, sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #080705;
  --color-gray: #40434e;
  --color-maroon: #702632;
  --color-sienna: #4c1a22;
  --color-wine: #912f40;
  --color-white: #fffffa;
}

body {
  background-color: var(--color-gray);
}

/*  CALCULATOR STYLES */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.calc-container {
  padding: 25px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-black);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
  position: relative;
}

.calc--screen {
  height: 120px;
  border-radius: 5px;
  padding: 10px;
  text-align: right;
  background-color: var(--color-white);
  width: 400px;
  overflow-x: scroll;
}

.screen--display {
  font-size: 40px;
}

.screen--display {
  color: var(--color-gray);
}

.calc--buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr [col-start]);
  gap: 10px;
  color: var(--color-white);
  max-width: 600px;
}

.btn {
  padding: 25px;
  background-color: var(--color-maroon);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 21px;
  box-shadow: rgba(255, 106, 106, 0.925) 5px 5px 15px -12px inset;
}

.btn:active {
  background-color: var(--color-wine);
  transform: translateY(2px);
}

.btn--operate.btn-active {
  background-color: var(--color-sienna);
  box-shadow: none;
}

.btn--0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*  THEME */

.theme {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: var(--color-white);
  opacity: 0.8;
}

/*  STYLE SELECTION BUTTONS */

.styles-container {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  gap: 30px;
}

.style {
  background-color: var(--color-gray);
  border: 2px solid var(--color-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.style-active {
  background-color: var(--color-white);
  transform: scale(1.2);
}

/*  FOOTER STYLES */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 20px;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer img {
  height: 30px;
  width: auto;
  /* margin-right: 15px; */
}
