* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #080705;
  --color-gray: #40434e;
  --color-maroon: #702632;
  --color-wine: #912f40;
  --color-white: #fffffa;
}

body {
  background-color: var(--color-gray);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 20px;
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer img {
  height: 30px;
  width: auto;
  /* margin-right: 15px; */
}
